body {
  font-family: "Raleway", sans-serif;
  background-color: black;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-herocv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mi-portafolio .image-top {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

#movimg{
  animation: move 3s infinite;
}

@keyframes move{
  0 {
    transform: rotate(10deg);
  }
  25%{
    transform: rotate(-7deg);
  }
  50%{
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  10%{
    transform: rotate(7deg);
  }
}